* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    /* 16px */
    background: var(--gray-900);
    color: var(--text-default);
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    background-color: blueviolet;
}

.container-fluid {
    max-width: 98rem;
    margin: 0 auto;
    background-color: blueviolet;
}

.content {
    background-color: rgb(113, 231, 117);
    margin: 3.2rem;
}