.logo {
  margin: 3.2rem 0 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.4rem;
  font-size: 4.2rem;
  text-decoration: none;
  color: var(--primary);
}

.logoLink:hover {
  filter: brightness(120%);
  transition: all 0.2s ease-in-out;
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
