.buttonContainer button {
  min-width: auto;
  margin: 0;
  padding: 1rem;
}

.buttonContainer button svg {
  width: 2rem;
  height: 2rem;
}

.responsiveTable {
  overflow-x: auto;
  border-radius: 0.8rem;
}

.responsiveTable table {
  width: 100%;
  min-width: 64rem;
  font-size: 1.6rem;
  border-collapse: collapse;
}

.responsiveTable thead {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.responsiveTable th {
  background-color: var(--gray-600);
}

.responsiveTable td {
  background-color: var(--gray-800);
}

.responsiveTable th,
.responsiveTable td {
  border-bottom: 0.2rem solid var(--gray-700_);
  text-align: left;
  padding: 1.6rem;
}

.thSort {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.thSort:hover {
  opacity: 0.8;
}
