.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 3.2rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

button:hover {
  filter: brightness(130%);
}

.green {
  background: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-over-error);
}
